<html lang="en">

<head>
    <%- include('Header') %>
</head>
<body>

<button class="btn btn-default"
        style="
            right: 0;
            position: absolute;
            width: 10%;
            background-color: darkgray;"
        onclick="window.location.href = '/logout'">Logout
</button>

<div class="container">
    <table class="table table-striped">
        <tr>
            <td>Department</td>
            <td>Employees number</td>
            <td>Average payment</td>
            <td></td>
        </tr>
        <% for(var i = 0;i < objects.length;i++) { %>
            <tr>
                <form method="POST">
                    <td>
                        <% if(error.id == objects[i].id) { %>
                            <% if(error.name) { %>
                                <input type="text" name="name" value="<%= error.name %>">
                            <% } else  { %>
                                <input type="text" name="name" value="<%= objects[i].name %>">
                            <% } %>
                            <% if(error.message.name) { %>
                                <div tooltip="<%= error.message.name %>"></div>
                            <% } %>
                            <% if(error.message.sql) { %>
                                <div tooltip="<%= error.message.sql %>"></div>
                            <% } %>
                        <% } else { %>
                            <input type="text" name="name" value="<%= objects[i].name %>">
                        <% } %>
                    </td>
                    <td>
                        <%= objects[i].employeeCount %>
                    </td>
                    <td>
                        <%= objects[i].averagePayment %>
                    </td>
                    <td>
                        <input type="submit" class="btn btn-default"
                               formaction="/departments/<%= objects[i].id %>/action_remove" name="button"
                               value="Remove">
                        <input type="submit" class="btn btn-default"
                               formaction="/departments/<%= objects[i].id %>/action_save" name="button" value="Save">
                        <input type="number" name="id" value="<%= objects[i].id %>" style="display: none">

                </form>
                <button class="btn btn-default"
                        onclick="window.location.href = '/departments/<%= objects[i].id %>/employee'">List
                </button>
                </td>
            </tr>
        <% } %>
        <tr>
            <form action="/departments/action_add" method="POST">
                <td>
                    <% if(error.id == 0) { %>
                        <input type="text" name="name" value="<%= error.name %>">
                        <% if(error.message.name) { %>
                            <div tooltip="<%= error.message.name %>"></div>
                        <% } %>
                        <% if(error.message.sql) { %>
                            <div tooltip="<%= error.message.sql %>"></div>
                        <% } %>
                    <% } else { %>
                        <input type="text" name="name" value="">
                    <% } %>
                </td>
                <td></td>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-info" name="button" value="Add new">
                </td>
            </form>
        </tr>
        <tr style="
        font-size: x-large;
        background-color: gainsboro;
        border-radius: 10px;">
            <% var globalCountEmployees = 0 %>
            <% var globalAvgPayment = 0 %>
            <% for(var i = 0;i < objects.length;i++) { %>
                <% globalCountEmployees += objects[i].employeeCount %>
                <% globalAvgPayment += objects[i].averagePayment * objects[i].employeeCount %>
            <% } %>
            <% var avg = parseInt(globalAvgPayment / globalCountEmployees) %>
            <% globalAvgPayment = avg ? avg : 0 %>

            <td> Total</td>
            <td><%= globalCountEmployees %></td>
            <td><%= globalAvgPayment %></td>
            <td></td>
        </tr>
    </table>
</div>
</body>


</html>
